<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Contact
                <a class="btn btn-danger btn-sm" routerLink="/contact/add">
                    <i class="fa fa-plus-circle"></i> New</a>
            </p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt in eius ea corrupti. Expedita explicabo officiis eum illo aut laborum consectetur! Atque modi veniam eum itaque? Quaerat quidem eveniet nemo?</p>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Search Users">
                            </div>
                            <div class="col">
                                <input type="submit" class="btn btn-outline-dark" value="search">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--spinner-->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<!--Error Message-->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>
<!--cards-->
<div class="container mt-3" *ngIf="!loading && contacts.length>0">
    <div class="row">
        <div class="col-md-6" *ngFor="let contact of contacts">
            <div class="card list-group-item-danger shadow-lg my-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img [src]="contact.photo" alt="" class="contact-img">
                        </div>
                        <div class="col-md-7">
                            <ul class="list-group">
                                <li class="list-group-item">Name:<span class="fw-bold">{{contact.name}}</span></li>
                                <li class="list-group-item">Email:<span class="fw-bold">{{contact.email}}</span></li>
                                <li class="list-group-item">Mobile:<span class="fw-bold">{{contact.mobile}}</span></li>
                            </ul>
                        </div>
                        <div class="col-md-1 d-flex flex-column justify-content-center align-items-center">
                            <a class="btn btn-warning my-1" routerLink="/contact/view/{{contact.id}}">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a class="btn btn-primary my-1" routerLink="/contact/edit/{{contact.id}}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <button class="btn btn-danger my-1" (click)="ClickDeleteContact(contact.id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>